---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
---

<Layout title="title">
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium ">
        Técnico Superior
      </span>
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight font-robot">
        Radiología
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          ParaMED
        </span>

      </div>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl font-robot">
      <p>
        El Técnico en <span class="font-bold">Radiología</span> es un profesional de la salud especializado en la obtención de imágenes médicas mediante el uso de equipos de radiología, como rayos X, tomografía computarizada (TC), resonancia magnética (RM), ultrasonido y otras tecnologías de diagnóstico por imagen. Su trabajo es esencial para ayudar a los médicos a diagnosticar y tratar enfermedades o lesiones.
      </p>
      <h3>Funciones principales:</h3>
      <ul>
        <li>
          <span class="font-bold">Realización de estudios de imagen: </span>Operar equipos de radiología para obtener imágenes claras y precisas de las estructuras internas del cuerpo.
        </li>
        <li>
          <span class="font-bold">Preparación del paciente: </span>  Explicar el procedimiento al paciente, posicionarlo correctamente y asegurar su comodidad y seguridad durante el examen.
        </li>
        <li>
          <span class="font-bold">Protección radiológica: </span> Aplicar medidas de seguridad para minimizar la exposición a la radiación, tanto para el paciente como para el personal.
        </li>
        <li>
          <span class="font-bold">Mantenimiento de equipos: </span> Verificar que los equipos estén en buen estado y realizar ajustes técnicos cuando sea necesario.
        </li>
        <li>
          <span class="font-bold">Colaboración con el equipo médico: </span>Trabajar en coordinación con radiólogos y otros profesionales para garantizar la calidad de las imágenes y la precisión del diagnóstico.
        </li>
        <li>
          <span class="font-bold">Documentación: </span>Registrar los procedimientos realizados y mantener un archivo adecuado de las imágenes obtenidas.
        </li>
      </ul>      
      
    </div>
    <div class="text-center mt-8">
      <a
        href="/careers"
        class="bg-primary px-5 py-3 rounded-md text-font-white hover:bg-custom-blue transition"
        >← Volver</a
      >
    </div>
  </Container>
</Layout>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  .font-robot {
    font-family: "Roboto", serif;
  }
</style>