<form action="/api/login" accept-charset="UTF-8" method="POST">
    <div>
      <label for="email">Email:</label>
      <br />
      <input class="border-2 outline-0 border-r-8 text-white px-2 py-1 border-[#2f2f30] w-80" type="email" name="email" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <br />
      <input class="border-2 outline-0 border-r-8 text-white px-2 py-1 border-[#2f2f30] w-80"  type="password" name="password" required />
    </div>
    <br />
    <button type="submit">Submit</button>
  </form>